# Dependencias
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
dist/
build/

# Env
.env
.env.local
.env.*.local

# Archivos pesados de fotogrametria y modelos sin procesar
contenido/
*.blend1
photos/
raw/
colmap*/
*.db

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
