# Git LFS para binarios 3D y texturas pesadas.
# Requiere instalar Git LFS una sola vez:  git lfs install
*.glb   filter=lfs diff=lfs merge=lfs -text
*.gltf  filter=lfs diff=lfs merge=lfs -text
*.bin   filter=lfs diff=lfs merge=lfs -text
*.ktx2  filter=lfs diff=lfs merge=lfs -text
*.hdr   filter=lfs diff=lfs merge=lfs -text
*.exr   filter=lfs diff=lfs merge=lfs -text

# Normalizacion de saltos de linea
* text=auto eol=lf
*.ps1 text eol=crlf
